<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="accunt" class="com.ohgiraffers.common.PersonalAccount">
        <constructor-arg index="0" value="20"/>
        <constructor-arg index="1" value="110-20329-1412"/>
    </bean>
    <!--    생성자주입-->
<!--    <bean id="member" class="com.ohgiraffers.common.MemberDTO">-->
<!--        <constructor-arg name="sequence" value="1"/>-->
<!--        <constructor-arg name="name" value="Lion"/>-->
<!--        <constructor-arg name="email" value="lion@.gmail.com"/>-->
<!--        <constructor-arg name="personalAccount">-->
<!--            <ref bean="accunt"/>-->
<!--        </constructor-arg>-->
<!--    </bean>-->
<!--    setter주입-->
    <bean id="member" class="com.ohgiraffers.common.MemberDTO">
        <property name="sequence" value="1"/>
        <property name="name" value="Cat"/>
        <property name="email" value="cat@gmail.com"/>
        <property name="personalAccount" ref="accunt"/>
    </bean>
<!--    생성된 다른 bean을 의존성 주입할경우 value속성이 아닌 ref속성을 사용하여 bean id를 전달-->

</beans>